<!DOCTYPE html>
<html>
<head>
<title>lucky_or_not</title>
</head>
<body>
<h1>let's check whether your luck is working or not.</h1>

<p>Click one of the buttons below to see if you can find the flag!</p>

<div id="button-container">
  
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttonx" onclick="showCongratulations()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  <button id="buttony" onclick="showNothing()">Show</button>
  
</div>

<div id="congratulations-message" style="display: none;">
  Congratulations you have found the flag: <%= flag %>!
</div>

<script>
// Function to show the congratulations message
function showCongratulations() {
  document.getElementById("congratulations-message").style.display = "block";
}

// Function to show nothing
function showNothing() {
  // Do nothing
}
</script>

</body>
</html>